.container {
  width: 100%;
  height: 100%;
  background-color: #FFC409;;
  display: flex;
  justify-content: center;
  justify-items: center;
}

ion-button {
  width: 100%;
  margin: auto;
}

ion-icon{
background-color: aliceblue;
color: black;
}
