<div *ngIf="hasMedicine; else dontHave">
<app-show-medicine [data]="allData"></app-show-medicine>
<app-add id="open-modal" iconName="medkit-outline" (clickButton)="openModal()"> </app-add>
</div>

<ng-template #dontHave>
  <app-show-medicine></app-show-medicine>
  <ion-content [fullscreen]="true">
    <app-add id="open-modal" iconName="medkit-outline" (clickButton)="openModal()"> </app-add>
  </ion-content>
</ng-template>

<ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar >
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancelar</ion-button>
        </ion-buttons>
        <ion-title>Agregar medicina</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">Confirmar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-input
          label="Nombre medicina"
          labelPlacement="stacked"
          type="text"
          autocomplete="true"
          placeholder="Medicina"
          [(ngModel)]="name"
        ></ion-input>
      </ion-item>
      <hr>
      <ion-item>
        <ion-input
        label="¿Cada cuántas horas?"
          type="number"
          placeholder="0 horas"
          [(ngModel)]="medicineHour"
        ></ion-input>
      </ion-item>
      <hr>
      <ion-item>
        <ion-input
        label="¿Por cuántos días?"
          type="number"
          placeholder="0 días"
          [(ngModel)]="medicineDay"
        ></ion-input>
      </ion-item>
      <hr>
      <ion-item>
        <ion-label>Selecciona la hora y fecha de inicialización:</ion-label>
          <ion-datetime id="datetime" [(ngModel)]="date"></ion-datetime>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">Diego 🚀</ion-title>
  </ion-toolbar>
</ion-footer>
